adbc_driver_manager==1.6.0
adbc_driver_postgresql==1.6.0
adbc_driver_sqlite==1.6.0
AppKit==0.2.8
attr==0.3.2
beautifulsoup4==4.13.4
boto3==1.39.0
botocore==1.39.0
checks==0.2
colorama==0.4.6
ConfigParser==7.2.0
cycler==0.12.1
Cython==3.1.2
defusedxml==0.7.1
docutils==0.21.2
fastparquet==2024.11.0
filelock==3.18.0
Foundation==0.1.0a0.dev1
fsspec==2025.5.1
HTMLParser==0.0.2
hypothesis==6.135.20
importlib_resources==6.5.2
ipython==9.4.0
ipywidgets==8.1.7
jnius==1.1.0
keyring==25.6.0
lxml==6.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mtrand==0.1
mypy==1.16.1
numexpr==2.11.0
odfpy==1.4.1
olefile==0.47
pickle5==0.0.12
protobuf==6.31.1
psutil==7.0.0
py==1.11.0
pycryptodome==3.23.0
pygame==2.6.1
PyInstaller==6.14.1
pyOpenSSL==25.1.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.9.1
PySide6==6.9.1
pytest==8.4.1
python_bcrypt==0.3.2
python_calamine==0.3.2
pyxlsb==1.0.10
PyYAML==6.0.2
PyYAML==6.0.2
qtpy==2.4.3
redis==6.2.0
s3fs==2025.5.1
scikit_learn==1.7.0
scipy==1.16.0
scipy_doctest==1.8.0
sets==0.3.2
setuptools==80.9.0
setuptools_scm==8.3.1
slack_sdk==3.35.0
Sphinx==8.2.3
SQLAlchemy==2.0.41
tables==3.10.2
tensorflow==2.19.0
thread==2.0.5
threadpoolctl==3.6.0
traitlets==5.14.3
urllib3_secure_extra==0.1.0
xarray==2025.6.1
xlrd==2.0.2
xlsxwriter==3.2.5
xmlrpclib==1.0.1
